@charset "UTF-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url("https://fonts.googleapis.com/css?family=Shrikhand");
@import url("https://fonts.googleapis.com/css?family=Rubik:400");
body .title {
  position: relative;
  display: block;
  top: 30vh;
}
body .title h1 {
  font: normal 3.6rem "Shrikhand", Helvetica, sans-serif;
  color: #fff;
  letter-spacing: 0.05em;
  text-align: center;
  text-shadow: 0 0 20px rgba(192, 202, 246, 0.9), -5px -5px 0 rgba(194, 183, 254, 0.5), 5px 5px 0 rgba(149, 169, 255, 0.6);
}

.shape {
  margin: 0 auto;
}

.random-shape:after {
  font-family: FontAwesome;
  content: "";
}

@keyframes shape-1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(198deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(558deg);
  }
}
.shape-container--1 {
  animation: shape-1 50s linear infinite;
}
.shape-container--1 .random-shape:after {
  margin: 5rem;
  color: #FFD700;
  font-size: 1rem;
  content: "";
}

@keyframes shape-2 {
  0% {
    transform: translate3d(0, 0, 0) rotate(350deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(710deg);
  }
}
.shape-container--2 {
  animation: shape-2 44s linear infinite;
}
.shape-container--2 .random-shape:after {
  margin: 3rem;
  color: #FFD700;
  font-size: 0.6rem;
  content: "";
}

@keyframes shape-3 {
  0% {
    transform: translate3d(0, 0, 0) rotate(334deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(694deg);
  }
}
.shape-container--3 {
  animation: shape-3 45s linear infinite;
}
.shape-container--3 .random-shape:after {
  margin: 10rem;
  color: #95A9FF;
  font-size: 2rem;
  content: "";
}

@keyframes shape-4 {
  0% {
    transform: translate3d(0, 0, 0) rotate(149deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(509deg);
  }
}
.shape-container--4 {
  animation: shape-4 44s linear infinite;
}
.shape-container--4 .random-shape:after {
  margin: 3rem;
  color: #95A9FF;
  font-size: 0.6rem;
  content: "";
}

@keyframes shape-5 {
  0% {
    transform: translate3d(0, 0, 0) rotate(206deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(566deg);
  }
}
.shape-container--5 {
  animation: shape-5 45s linear infinite;
}
.shape-container--5 .random-shape:after {
  margin: 4rem;
  color: #FFF8DC;
  font-size: 0.8rem;
  content: "";
}

@keyframes shape-6 {
  0% {
    transform: translate3d(0, 0, 0) rotate(17deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(377deg);
  }
}
.shape-container--6 {
  animation: shape-6 47s linear infinite;
}
.shape-container--6 .random-shape:after {
  margin: 5rem;
  color: #FFF8DC;
  font-size: 1rem;
  content: "";
}

@keyframes shape-7 {
  0% {
    transform: translate3d(0, 0, 0) rotate(85deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(445deg);
  }
}
.shape-container--7 {
  animation: shape-7 44s linear infinite;
}
.shape-container--7 .random-shape:after {
  margin: 2rem;
  color: #FFF8DC;
  font-size: 0.4rem;
  content: "";
}

@keyframes shape-8 {
  0% {
    transform: translate3d(0, 0, 0) rotate(109deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(469deg);
  }
}
.shape-container--8 {
  animation: shape-8 48s linear infinite;
}
.shape-container--8 .random-shape:after {
  margin: 1rem;
  color: #FFD700;
  font-size: 0.2rem;
  content: "";
}

@keyframes shape-9 {
  0% {
    transform: translate3d(0, 0, 0) rotate(162deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(522deg);
  }
}
.shape-container--9 {
  animation: shape-9 46s linear infinite;
}
.shape-container--9 .random-shape:after {
  margin: 10rem;
  color: #95A9FF;
  font-size: 2rem;
  content: "";
}

@keyframes shape-10 {
  0% {
    transform: translate3d(0, 0, 0) rotate(80deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(440deg);
  }
}
.shape-container--10 {
  animation: shape-10 41s linear infinite;
}
.shape-container--10 .random-shape:after {
  margin: 7rem;
  color: #DB7093;
  font-size: 1.4rem;
  content: "";
}

@keyframes shape-11 {
  0% {
    transform: translate3d(0, 0, 0) rotate(24deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(384deg);
  }
}
.shape-container--11 {
  animation: shape-11 48s linear infinite;
}
.shape-container--11 .random-shape:after {
  margin: 2rem;
  color: #C2B7FE;
  font-size: 0.4rem;
  content: "";
}

@keyframes shape-12 {
  0% {
    transform: translate3d(0, 0, 0) rotate(329deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(689deg);
  }
}
.shape-container--12 {
  animation: shape-12 49s linear infinite;
}
.shape-container--12 .random-shape:after {
  margin: 8rem;
  color: #DB7093;
  font-size: 1.6rem;
  content: "";
}

@keyframes shape-13 {
  0% {
    transform: translate3d(0, 0, 0) rotate(193deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(553deg);
  }
}
.shape-container--13 {
  animation: shape-13 43s linear infinite;
}
.shape-container--13 .random-shape:after {
  margin: 4rem;
  color: #FFF8DC;
  font-size: 0.8rem;
  content: "";
}

@keyframes shape-14 {
  0% {
    transform: translate3d(0, 0, 0) rotate(19deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(379deg);
  }
}
.shape-container--14 {
  animation: shape-14 43s linear infinite;
}
.shape-container--14 .random-shape:after {
  margin: 8rem;
  color: #DB7093;
  font-size: 1.6rem;
  content: "";
}

@keyframes shape-15 {
  0% {
    transform: translate3d(0, 0, 0) rotate(87deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(447deg);
  }
}
.shape-container--15 {
  animation: shape-15 41s linear infinite;
}
.shape-container--15 .random-shape:after {
  margin: 8rem;
  color: #FFD700;
  font-size: 1.6rem;
  content: "";
}

@keyframes shape-16 {
  0% {
    transform: translate3d(0, 0, 0) rotate(27deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(387deg);
  }
}
.shape-container--16 {
  animation: shape-16 43s linear infinite;
}
.shape-container--16 .random-shape:after {
  margin: 10rem;
  color: #FFD700;
  font-size: 2rem;
  content: "";
}

@keyframes shape-17 {
  0% {
    transform: translate3d(0, 0, 0) rotate(252deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(612deg);
  }
}
.shape-container--17 {
  animation: shape-17 42s linear infinite;
}
.shape-container--17 .random-shape:after {
  margin: 4rem;
  color: #95A9FF;
  font-size: 0.8rem;
  content: "";
}

@keyframes shape-18 {
  0% {
    transform: translate3d(0, 0, 0) rotate(308deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(668deg);
  }
}
.shape-container--18 {
  animation: shape-18 47s linear infinite;
}
.shape-container--18 .random-shape:after {
  margin: 1rem;
  color: #FFF8DC;
  font-size: 0.2rem;
  content: "";
}

@keyframes shape-19 {
  0% {
    transform: translate3d(0, 0, 0) rotate(192deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(552deg);
  }
}
.shape-container--19 {
  animation: shape-19 50s linear infinite;
}
.shape-container--19 .random-shape:after {
  margin: 1rem;
  color: #95A9FF;
  font-size: 0.2rem;
  content: "";
}

@keyframes shape-20 {
  0% {
    transform: translate3d(0, 0, 0) rotate(348deg);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(708deg);
  }
}
.shape-container--20 {
  animation: shape-20 46s linear infinite;
}
.shape-container--20 .random-shape:after {
  margin: 8rem;
  color: #FFD700;
  font-size: 1.6rem;
  content: "";
}

.stop-shape {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

/*# sourceMappingURL=animation.css.map */
